---
title: "Casa Zimbabwe: A House History from 1966 - 2009"
description: "A history of Casa Zimbabwe from 1966 - 2009"
author: Rachel Banning‐Lover
---

<% content_for :aside do %>
  <p><a href="..">&lt; The Green Book Index</a></p>
  <h1><%= @item[:title] %></h1>
  <p>by <%= @item[:author] %></p>
  <p><a href="Casa%20Zimbabwe%20House%20History%201966-2009.pdf">Download Original PDF</a></p>
<% end %>

<p><em>No web-viewable version is currently available. Please
  <a href="Casa%20Zimbabwe%20House%20History%201966-2009.pdf">download the PDF</a>
  to view the document.</em></p>

<h2>Selected Images</h2>

<ul class="image-list">
  <li><img src="/img/green-book/casa-zimbabwe-house-history/a-1_1.jpg" /></li>
  <li><img src="/img/green-book/casa-zimbabwe-house-history/a-1_2.jpg" /></li>
  <li><img src="/img/green-book/casa-zimbabwe-house-history/a-4_2.png" /></li>
  <li><img src="/img/green-book/casa-zimbabwe-house-history/a-5_1.jpg" /></li>
  <li><img src="/img/green-book/casa-zimbabwe-house-history/a-5_2.jpg" /></li>
</ul>
  