---
title: "Casa Zimbabwe: A House History from 1966 - 2009"
description: "A history of Casa Zimbabwe from 1966 - 2009"
author: Rachel Banning‐Lover
---

<% content_for :aside do %>
  <p><a href="..">&lt; The Green Book Index</a></p>
  <h1><%= @item[:title] %></h1>
  <p>by <%= @item[:author] %></p>
  <p><a href="Casa%20Zimbabwe%20House%20History%201966-2009.pdf">Download Original PDF</a></p>
<% end %>

<iframe src="https://personal.crocodoc.com/bPyiDXv?embedded=true" width="100%" height="600" style="border:1px solid #ddd;"></iframe>
  