---
title: Home of John Nishinaga
description: "John Nishinaga's Website"
---
%ul.home-links
  %li= link_to 'John', '/john/'
  %li= link_to 'Projects', '/projects/'
  %li= link_to 'Notes', '/notes/'
  %li= link_to 'Play', '/play/'
