---
title: Email
description: "Convert Email Lists"
extra_js: [ 'email.js' ]
---

:css
  #drop-target {
    width: 500px;
    height: 200px;
    border: 3px solid green;
  }
  .drag {
    background-color: pink;
  }

#drop-target
  Drop Here
