---
title: Reader Responses to the Green Book
author: Demitria Monde Thraam, John Davidson, Cynthia Walker
---
<% content_for :aside do %>
  <p><a href="../..">&lt; &lt; The Green Book Index</a></p>
  <p><a href="../fall-of-barrington-hall/">&lt; Joel's Response</a></p>
  <h1><%= current_page.data.title %></h1>
  <ul>
    <li><a href="#demitria-monde-thraam">Demitria Monde Thraam</a></li>
    <li><a href="#john-davidson">John Davidson</a></li>
    <li><a href="#memorable-graffiti">Memorable Graffiti from Barrington Hall</a></li>
  </ul>
  </h2>
<% end %>

<h2 id="demitria-monde-thraam">Demitria Monde Thraam</h2>

<p>
  I'm the one...who was known by the name of Psyche in the first year I spent at Barrington and later as Demitria Monde Thraam, the name I have retained to this day. I was one who sought out Barrington for its countercultural elements--indeed, in retrospect, I think it was access to such a living situation that was probably the whole reason I ever really bothered to get the high school grades up high enough to go to university.
</p>
<p>
  What I feel it is important that I state is the following.
</p>
<p>
  I spent three years as a junkie. They were not at Barrington, however, but only happened in the 1990's after its closure. Without a doubt, Barrington's closure was one of the factors that drove me to want to take such an unintelligence-enhancing drug as heroin.
</p>
<p>
  I painted six or seven murals in the place that are gone forever--only one of them was even photographed.
</p>
<p>
  My days at Barrington were the only time in my life I can ever say I was even halfway socially functional.
</p>
<p>
  The neighbour complaints were mostly made by two individuals who I sensed were actually acting out of a sad sort of ``Barringtonian envy.'' They (Beverly Potter and John ``Red Green'' Harmon) were both lonely and middle-aged, their youth behind them--a feeling I now understand all too well. In John Harmon's case especially this was manifest: there were days when it was reported that he had loitered around the dining hall entrances as if longing to be one of us.
</p>
<p>
  I did some news reporting for KALX during my days at Cal and one day decided to interview Mr. Harmon about his frenzy to shut down Barrington. I was amazed to find the loudest complainer about the drug scene there had a marijuana plant growing in his window.
</p>
<p>
  I was always pained by the presence of heroin at the house and since I had no understanding of heroin's actual physical addictiveness I was insensitive to the problem. I would say I was one of the ``core group'' of activists trying to hold on to our home and part of that for me meant getting the heroin out. Later, when I became a junkie myself in the post-Barrington days, I understood why it had proved so difficult to eradicate, as its absence leaves the user completely unable to function in his or her own skin--and this withdrawal syndrome goes on for a very long time.
</p>
<p>
  I still dream of the house of many colours which was the most beautiful, freeing place I ever lived, or ever will. How sad the reality of the current century! How desperate the current youth generation is for a place like Barrington...without even knowing it.
</p>

<h2 id="john-davidson">John Davidson</h2>

<p>
  Many thanks for making the Green Book available! I particularly appreciated being able to read about the last years of Barrington.
</p>
<p>
  I stayed at Barrington briefly in the Summer of 1985 (what was termed ``Hell Summer'' in the book). I was one of the drug using transients referred to. I'd left my co-op in Madison, WI (Nottingham co-op) a month or two earlier and hitchhiked to San Francisco from Missouri Rainbow Gathering on $40 (only had $9 left by the time I got there) to attend grad school at the Institute of Integral Studies. I had no place to stay, hadn't slept (or eaten much) in days, and had some yucky nights trying to survive on San Fran streets. I discovered that I couldn't get financial aid to attend school because of my prior refusal to register for the draft. So I spent my last $2 to flee San Fran to Berkeley by way of the BART.
</p>
<p>
  In Berkeley, I went to the student co-op association, where folks took one look at me and suggested that I drop by Barrington.
</p>
<p>
  Barrington was a beautiful, horrible mess. As an acid head, I found much to admire, but much that made even me queasy. Because it wasn't clear who was in charge, I didn't make my presence too obvious and didn't do much in the way of finding an official room. Reading your piece, I realize now that I probably could have worked out an arrangement for a room. Instead, I wound up back on the road--camping out in Santa Cruz, and later falling into my first Dead tour.
</p>
<p>
  My week or two in and around Barrington was eye-opening. There was still much magic there. I ran into the mythic Berkeley Bob once, who, as far as I could tell, was able to read people's thoughts and communicate with beings that no-one else could see. I slept on the roof and in stairwells. I had some of my belongings stolen by an ex-felon, and never felt entirely safe. I was offered a place to sleep in a room that was being used for mass distribution (and maybe manufacture) of what I think was meth. Bad place to try and sleep. I added my graffiti to the walls: ``Confusion Reigns; Contentment Shynes.''
</p>
<p>
  The existence of that place in the midst of the larger society was bizarre, paradoxical, inexplicable. It seemed to be on the very edge of implosion. That it survived for another 5 years in any form amazes me!
</p>
<p>
  More magic: while corresponding with my home co-op in Madison, I discovered that at the same time that I'd wandered off to Barrington, someone from Barrington had wandered to Nottingham. (None of us Hamsters had ever heard of Barrington previously.) I think he moved into my room. I wouldn't be surprised if the meth room I stayed in was his old room. 9 months later, I was at the Rainbow Gathering in Pennsylvania, where I parted with a sweater that I'd routinely worn for years. I placed it on a bush. Minutes later, I found a blanket on the branch of a tree and started wearing that. The next evening, I ran into a man my age who was wearing my old sweater. I let him know that. He got a strange look on his face and informed me that I was wearing his old blanket. We talked and found out that we'd recently switched co-ops with one another. My name is John Davidson. His was David Johnson. It was very, very weird. We never followed up on our contact with one another.
</p>

<p>
  Other similar wierdness happened during my short time at Barrington. I'll mention just one more example: I befriended a girl who was going a little crazy. She thought she'd been impregnated by the antichrist. He was a co-resident of Barrington. The next day I ran into someone immediately after turning a corner, and thought, at first that his face was a skull. Then it turned into a normal face. He told me his name. He was the suspected anti-christ. I went to visit the girl later, and mentioned it to her. She had candles all over her room. She said she was leaving soon and said she wanted to give me a book. It was Alan Watts' The Supreme Identity. I took the book. I found out later that she set her room on fire that night, and was committed to a mental facility by her family. The book turned out to be the crucial source for the paper that I was writing on the philosophy of time, in order to finish off an incomplete and receive my undergraduate degree. It helped me to make sense of a great deal of my journey through psychedelia, including my time at Barrington.
</p>

<p>
  I wish Barrington had reached out for help from some of the transients like myself who found ourselves drawn there. We probably could have added some more positive magic to a chaotic vortex that was becoming pretty sordid. I know I would have been happy to. At the same time, I'm grateful to the folks there for being tolerant enought to offer folks like me some temporary refuge.
</p>

<h2 id="memorable-graffiti">
  Memorable Graffiti from Barrington Hall
</h2>
<p>
  Courtesy of Cynthia Walker
</p>
<ul>
  <li>You're persona non grata in my hippy van, bitch.
  </li>
  <li>Better living through chemistry.
  </li>
  <li>Time is a crutch, eat Mandarin oranges
  </li>
  <li>You can't fistfuck with nuclear arms.
  </li>
  <li>Only seven more shopping days 'til Armageddon.
  </li>
  <li>Everybody is alienated but me.
  </li>
  <li>Is the nightmare real or did someone paint the window black?
  </li>
  <li>Squat or rot.
  </li>
  <li>Fuck the Dead.
  </li>
  <li>Chaos Teaches, Order Instructs.
  </li>
  <li>Music would be Math if you couldn't hear it.
  </li>
  <li>Kraven Wimps For Capitalism!
  </li>
  <li>Less is More...More or Less
  </li>
  <li>Reality is the result of severe psilocybin deficiency
  </li>
</ul>

